*, ::before, ::after { box-sizing: inherit; }
:root { box-sizing: border-box; }
body {
  --maxwidth: 50vw;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--maxwidth, 360px), 1fr));
}
#ctxd {
  order: 3;
  padding-bottom: 50px;
  border-bottom: 30px dotted var(--colour, blue);
}
@media (max-width: 720px) {
  body {
    --max-width: 100vw;
  }
}
#proj { appearance: none; border: none; }
label { display: flex; align-items: stretch }
label span { min-width: 120px; display: inline-block; text-align: right; }
label input { margin-left: 1ex; width: auto; flex-grow: 1; }
output { min-height: 50vh; }
canvas {
  background: var(--colour, hotpink);
  max-width: var(--maxwidth, 360px);
  max-height: none;
  height: calc(var(--height) * (var(--maxwidth) / var(--width)));
}
output { text-align: center; }
#ctx.full {
  max-width: none;
  height: var(--height);
}
#ctx.fill {
  max-height: 100vh;
  max-width: none;
  width: calc(var(--width) * (var(--maxwidth) / var(--height)));
}
table {
  font-variant-numeric: tabular-nums;
  width: 100%;
  border-collapse: collapse;
}
th, td {
  text-align: right;
  border: 1px solid black;
  border-width: 0 1px;
  padding: 3px;
}
th:first-child, td:first-child, th:nth-last-child(2), td:nth-last-child(2) {
  text-align: left;
}
th:last-child, td:last-child {
  text-align: center;
}
td:last-child div {
  display: inline-flex;
}
button { cursor: pointer; }
tr:first-child button:first-child, tr:last-child button:last-child { visibility: hidden; }
button { margin: 0 .5ex; flex-grow: 1; }
